.contatopg{
	display: grid;
	width: 100%;
	height: 95vh;
	justify-items: center;
	grid-template-areas:"titulo" "iconos" "formulario" "footer" ;
}
.contatopg__titulo{
	padding: 0 5vw;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	grid-area:titulo;
}
.contatopg__titulo-h1{
	font-family:'Caveat', cursive; 
	font-size: 2.5rem;
}
.contatopg__titulo-p{
	font-size: 1.2rem;
	text-align: justify;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid var(--color-principal);
}
.contatopg__iconos{
	grid-area:iconos;
	display: grid;
	margin: .5rem 0;
	padding-bottom: 1rem;
	width: 90vw;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:"pg-wh pg-ml" "pg-twh pg-tml";
	text-align: center;
	border-bottom: 1px solid var(--color-principal);
}
.contatopg__iconos-wh{
	grid-area:pg-wh;
}
.contatopg__iconos-twh{
	grid-area:pg-twh;
}
.contatopg__iconos-ml{
	grid-area:pg-ml;
}
.contatopg__iconos-tml{
	grid-area:pg-tml;
}
._contatogpicono{
	font-size: 2.5rem;
	color: var(--color-terciario);
}
._contatogptext{
	font-size: .7rem;
	font-weight: bold;
	color: var(--color-secundario);
}
.contatopg__formulario{
	grid-area:formulario;
	width: 90vw;
	margin: .5rem ;
	padding: .5rem 3vw;
	border-radius: 7px;
	border: 3px inset var(--color-principal);
	background-color: var(--color-fondo);
}
.contatopg__formulario-h2{
	font-family:'Caveat', cursive; 
	font-size: 2rem;
	margin: 0 0 .7rem;
}
.contatopg__formulario-texto-p{
	color: var(--color-secundario);
}
.contatopg__formulario-texto-i{
	width: 83vw;
	border-radius: 4px;
	border-style: inset;
	border-width: 2px;
	background-color: var(--color-fondo);
	border-color: var(--color-principal);
}
.footer{
	height: 18vh;
	grid-area:footer;
}
._mensajede{
	height: 10vh;
	resize: none;
}
#_enviar{
	width: 15vw;
	padding: .3rem 0;
	text-align: center;
	color: var(--color-terciario);
	background-color: var(--color-fondo);
	border-color: var(--color-principal);
	border-radius: 7px;
	font-weight: bolder;
}
/*
@media (min-width: 720px){
	body{
		font-size: 20px;
	}
	.contatopg{
		grid-template-areas:"titulo titulo" "formulario iconos"  "footer footer" ;
	}
	.contatopg__titulo{
		width: 80vw;
	}
	.contatopg__iconos{
		width: 39vw;
		height: 30vh;
		margin: 3vw auto 0 0;
		align-items: center;
		grid-template-columns: 1fr 2fr;
		grid-template-areas:"pg-wh pg-twh" "pg-ml pg-tml";
	}
	.contatopg__iconos-twh,
	.contatopg__iconos-tml{
		text-align: left;
	}
	.contatopg__formulario{
		width: 33vw;
		height: 60vh;
		margin: 1.3rem 1rem 2rem 5rem;
		margin-top: 1.3rem;
	}
	.contatopg__formulario-texto{
		width: 30vw;
	}
	._contatogpicono{
		font-size: 3.4rem;
	}
	._contatogptext{
		font-size: 1.5rem;
	}

