/* Scroll bar */
.cuerpo > ::-webkit-scrollbar { display: none}
.cuerpo > ::-webkit-scrollbar-thumb { background: white; }
.cuerpo > :hover::-webkit-scrollbar {
	transition: opacity 250ms;
	display: initial;
	width: 1px;
  }
.cuerpo__contenido p{
	text-align: justify;
	font-size: 23px;
	margin-bottom: 15px;
}
.cuerpo__encabezado{
	text-align: center;
	font-family: 'Caveat', cursive;
	margin-bottom: -10px;
	font-size: 38px;
	grid-area: encabezado;
}
.cuerpo__foto-img{
	height: 33vw;
	border-radius: 7px;
	grid-area: foto;
}
.cuerpo__contenido{
	height: 33vw;
	padding: 2px 18px 15px;
	overflow-y: auto;
	overflow-x: hidden;
	grid-area:contenido;
}
.footer{
	background-color: black;
	width: 100%;
	height: 80px;
	grid-area: footer;
}
.cuerpo{
	margin: 30px;
	display: grid;
	grid-gap: 20px;
	justify-items: center;
	grid-template-areas: "encabezado encabezado"
			     "foto contenido"
			     "footer footer";
}
@media (max-width: 760px){
	.cuerpo__foto-img{
		width: 80vw;
		height: 60vh;
	}
	.cuerpo{
	grid-template-areas: "encabezado"
			     "foto"
			     "contenido"
			     "footer";
	     }
	.cuerpo__encabezado{
		font-size: 23px;
	}
	.cuerpo__contenido{
		height: 65vh;
	}
     }


