/* 
  }
  */
.cuerpo__contenido p{
	text-align: justify;
	font-size: 14px;
	padding: 0 5vw;
	margin-bottom: 15px;
}
.cuerpo__encabezado{
	font-size: 23px;
	text-align: center;
	font-family: 'Caveat', cursive;
	margin-bottom: -10px;
	grid-area: encabezado;
}
.cuerpo__foto-img{
	width: 85vw;
	height: 70vh;
	border: 7px solid white;
	border-radius: 7px;
	grid-area: foto;
}
.cuerpo__contenido{
	height: fit-content;
	padding: 2px 18px 15px;
	grid-area:contenido;
	overflow: hidden;
}
.footer{
	grid-area: footer;
	display: grid;
	grid-gap: .5rem;
	background-color: black;
	color: white;
	width: 100%;
	padding: 0 10vw 5vh;
	grid-template-areas: "ft_ti ft_ti" "ft_wh ft_ml";
}
.footer_datos{
	color: var(--color-fondo);
	font-size: 2rem;
	margin-left: 15vw;
}
.footer p{
	display: none;
	font-size: 1rem;
	vertical-align: super;
}
.footer__titulo{
	margin: 0;
	text-align: center;
	grid-area: ft_ti;
}
.footer__titulo h2{
	margin-top: 1rem;
	font-size: 1.2rem;
}
.footer__whats{
	grid-area: ft_wh;
}
.footer__mail{
	grid-area: ft_ml;
}
.footer__numero{
	display: none;
	grid-area: ft_nm;
}
.footer__correo{
	display: none;
	grid-area: ft_cr;
}
.cuerpo{
	display: grid;
	grid-gap: 10px;
	justify-items: center;
	grid-template-areas: "encabezado" "foto" "contenido" "footer";
}
@media (min-width: 720px){
	.cuerpo{
		grid-template-areas: "encabezado encabezado" "foto contenido" "footer footer";
	}
	.cuerpo__encabezado{
		margin-bottom: .3rem;
	}
	.cuerpo__foto-img{
		height: 70vh;
		width: 35vw;
	}
	.cuerpo__contenido{
		margin: -.3rem 0 5vh -10vw;
		padding: 0;
		width: 45vw;
		height: 70vh;
		overflow-y: auto;
	}
	.cuerpo__contenido p{
		padding: .2rem .5rem 0 0;
	}
	.cuerpo__contenido::-webkit-scrollbar { width: 2px}
	.cuerpo__contenido::-webkit-scrollbar-track { background: #f1f1f1; }
	.cuerpo__contenido::-webkit-scrollbar-thumb { background: #888; }
	.cuerpo__contenido::-webkit-scrollbar-thumb:hover { background: #555; }
}
@media (min-width: 990px){
	.cuerpo__foto-img{
		width: 30vw;
	}
	.cuerpo__contenido{
		width: 55vw;
	}
	.cuerpo__contenido p{
		font-size: 14px;
		margin-bottom: 7px;
	}
	.footer{
		grid-gap: 0;
		margin: 0;
		grid-template-columns: 5% 95%;
		grid-template-areas: "ft_ti ft_ti" "ft_wh ft_nm" "ft_ml ft_cr";
	}
	.footer__titulo h2{
		text-align: left;
		margin-top: 1rem;
		font-size: 2.2rem;
	}
	.footer__whats,
	.footer__mail{
		width:20px; 
	}
	.footer__correo,
	.footer__numero{
		padding-top: .27rem;
		display: block;
	}
	.footer p{
	display: inline-block;
	}
	.footer_datos{
		font-size: 1.5rem;
		margin-left: 0;
	}
	._ftcontenido{
		font-size: 1rem;
		color: var(--color-um);
	}

}










