/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Limpiando configuraciones del explorador */
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	text-decoration:none;
	list-style: none;
}
body{
	background-color: #f1a649;
	font-family: 'Poppins', sans-serif;
}
.nav{
	background-color: black;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
}
/* Logo */
.nav__h1{
	padding: 7.7px;
	font-size: 28px;
	font-family: 'Caveat', cursive;
	display: inline-block;
	color: white;
}
.nav__h1:hover{
	background-color:#f1a649 ;
	color: black;
}
/* Opciones - Páginas */
.nav__ul{
	display: flex;
	float: right;
	text-align: center;
	font-size: 16px;
	text-align: 1;
}
.nav__ul-li{
	color: white;
	padding: 13px;
}
.nav__ul-li:hover{
	background-color:#f1a649 ;
	color: black;
}
/* Especiales */
#seleccionado{
	background-color: #882720}

